.background-1{
    background-image: url(./images/pic2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.gold{
    color: #f4d03f;
}
.button-2{
    background-color: rgb(222, 17, 17);
}
.button-3{
    background-color: white;
}
.menu-container h1{
   padding-left: 190px;
.menu-header p{
    color: #2C2F24;
    font-family: playfair display;
    font-weight: 500px;
    size: 55px;
    line-height: 60.5px;
    padding-left: 199px;
}
.bg-gray{
   justify-content: center;
   padding-left: 33%;
   width: 110%;
   padding-right: 22%;
   gap: 26%;
}

.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4d03f;
}